* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.home-body {
  padding: 0;
  margin: 0;
  height: fit-content;
  min-height: calc(100vh - 50px);
  background-color: #131111;
  color: #fafafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-container {
  height: 100%;
  background-color: #131111;
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headshot {
  border: 5px solid #fafafa;
  min-width: 5rem;
  max-width: 25rem;
}

#greeting {
  min-height: 300px;
}

#greeting h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
}

#greeting .name {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 50px;
}

.web-dev {
  color: #ec4c4c;
  word-wrap: break-word;
}

.typed-content {
  word-wrap: break-word;
  min-width: 500px;
}

.active {
  color: #ec4c4c !important;
}

.visable {
  display: block;
}

.invisible {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .headshot {
    max-width: 23rem;
  }

  .typed-content {
    min-width: 350px;
    min-height: 200px;
  }

  #greeting .name {
    font-size: 3em;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 995px) {
  .headshot {
    margin-top: 50px;
    max-width: 23rem;
  }
}

@media only screen and (max-width: 600px) {
  #greeting .name {
    font-size: 3em;
  }

  .headshot {
    margin-top: 50px;
    max-width: 20rem;
  }
}
